.productcard-img {
    text-align: center;
    margin: auto;
    padding:0 0.5rem;
    max-width: 180px;
}
.productcard-body1 {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 15rem;
    height: 23.5rem;
    position: relative;
}

.productcard-body1:hover {
    border:1px solid rgb(252,184,0);
    

}
.productcard-title
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: blue;
}
.productcard-price
{
    color: rgb(237, 118, 118);
}
.cart-body1
{
    position: absolute;
    bottom: 3%;
    left: 15%;
}