.sidebar-container
{
    width: 99.8%;
    height: 70rem;
    position: relative;
}

.categories-list
{
    width: 15rem;
    height: 35rem;
    background-color: rgba(167, 161, 161, 0.233);
    position: absolute;
    top: 7%;
    left: 2.5%;
    line-height: 2.2rem;
    padding-top: 1rem;
}
.categories
{
    line-height: 4rem;
    font-size: 1.2rem;
    font-weight: 400;
}















